$default-gradient: linear-gradient(45deg, gray, #333);
$default-color: #333;

$warning-gradient: linear-gradient(45deg, #fd916a, #fd6266);
$warning-color: #fd6266;

$error-gradient: linear-gradient(45deg, #f44f60, #d00269);
$error-color:  #d00269;

$success-gradient: linear-gradient(45deg, #6eecce, #30cc71);
$success-color: #30cc71;


